/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: #0066cc;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000; 
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img {
  width: 70px;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: orangered;
  text-decoration: underline;
}

/* Main content styles */
main {
  padding: 80px;
}

/* Hero section styles */
#hero {
  background: url('https://images.pexels.com/photos/4345855/pexels-photo-4345855.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: inline-block;
}

#hero h1 {
  font-size: 2.5em;
  margin: 0;
}

#hero p {
  font-size: 1.2em;
  margin: 10px 0 0;
}

/* Projects section styles */
#projects {
  margin: 20px 0;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
}

#projects-container .project {
  background-color: #f0f0f0;
  margin: 10px;
  padding: 20px;
  flex: 1;
  min-width: 200px;
}

#projects-container .project img {
  max-width: 100%;
  height: auto;
}


/* Team section styles */
#team {
  padding: 50px 0;
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(33.33% - 40px);
  max-width: 300px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 40%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
}

.card-button {
  padding: 10px 20px;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-button:hover {
  background-color: transparent;
  color: #0066cc;
  border: 2px solid #0066cc;
}

@media (max-width: 768px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: calc(50% - 40px);
    max-width: none;
  }
}




/* Footer styles */
footer {
  background-color: #0066cc;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-container > div {
  flex: 1;
  margin: 0 20px;
}

.quick-links, .contact-info {
  text-align: left;
}

.quick-links ul {
  list-style-type: none;
  padding: 0;
}

.quick-links ul li {
  margin-bottom: 10px;
}

.quick-links ul li a {
  text-decoration: none;
  transition: 0.3s ease;
}

.quick-links ul li a:hover {
  color: orangered;
  text-decoration: underline;
}

.contact-info p {
  margin: 10px 0;
}

.about-text {
  margin-top: 20px;
}

.about-text h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.about-text p {
  margin: 10px 0;
  width: 100%;
}

/* Form styles */
.contact-header {
  text-align: center;
}

span {
  color: red;
}

form {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
}

form input, form textarea, form select {
  padding: 10px;
  margin-top: 5px;
}

form button {
  padding: 10px;
  margin-top: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background-color: orangered;
}

/* Contact section styles */
#contact {
  padding: 50px 20px;
  text-align: center;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
}

.map-container {
  margin-bottom: 20px;
}

.contact-info {
  text-align: center;
}

.contact-info p {
  margin: 10px 0;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile menu toggle button */
.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
}

.menu-toggle .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/* Change hamburger to X when showing */
.menu-toggle.showing .bar:nth-child(1) {
  transform: rotate(50deg) translate(15px, 15px);
}

.menu-toggle.showing .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.showing .bar:nth-child(3) {
  transform: rotate(-50deg) translate(5px, -5px);
}

/* Responsive navigation */
.nav-links.showing {
  display: block;
}

@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
  }

  .menu-toggle {
    display: flex;
    margin-top: 10px;
    
  }

  nav ul {
    flex-direction: column;
    display: none;
    width: 100%;
    text-align: right;
  }

  nav ul.showing {
    display: flex;
  }

  nav ul li {
    margin: 10px 0;
  }
  .contact-header{
    padding-top: 100px;
  }
}
